@value colors: "../../variables.css";
@value baseGreen, baseBlack, baseWhite, extraYellow, extraGreen, extraBlue from colors;


.authorizationForm {
    padding: 69px 0 80px;
}

.content {
    composes: content from '../../App.module.css';
}

.row {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}

.left {

}

.title {
    max-width: 800px;

    font-family: 'Ferry', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.left img {
    margin: 14px 376px 0 112px;
}

.right {
    margin-right: 81px;

}

.form {
    width: 429px;
    height: 523px;
    padding: 25px 25px 36px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
}

.lock {
    position: absolute;
    left: -51px;
    top: -54px;
}

.links {
    display: flex;
    column-gap: 15px;
    margin-bottom: 40px;
}

.links div {
    border-bottom: 2px solid #C7C7C7;
    padding-bottom: 8px;
    text-align: center;
}

.first {
    width: 151px;
}

.second {
    width: 213px;
}

a.link {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #C7C7C7;
}

.links .active {
    border-bottom: 2px solid baseGreen;
}

.links .active a {
    color: baseGreen;
}

.label {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #949494;
}

.input {
    width: 100%;
    padding: 10px 20px;
    margin: 15px 0 20px;
    border: 1px solid #C7C7C7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

input.submit {
    width: 100%;
    padding: 16px 156px;
    margin: 10px 0 15px;
    background-color: extraBlue;
    border-radius: 5px;

    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.restorePassw {
    margin-bottom: 28px;
    text-align: center;
}

.restorePassw a {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #5970FF;
}

.titleSocial {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #949494;

}

.social {
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
}

@media screen and (max-width: 820px) {
    .authorizationForm {
        padding: 126px 0 49px;
    }
    .content {
        composes: content from '../../App.module.css';
        max-width: 335px;
    }

    .row {
        flex-direction: column;
        column-gap: 10px;
    }
}
