.slideResult {
    width: 130px;
    padding: 18px 14px 22px 14px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.slideResult p{
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
    text-align: center;
}