.navHeader {
    margin-left: 270px;
    display: flex;
    column-gap: 49px;
    row-gap: 10px; /*для мобильной адаптации*/
    flex-wrap: wrap;
}

.navLink {
    transition: opacity 0.2s ease-in;
}

a.activeLink {
    text-decoration: underline;
    font-weight: 700;
}

.navLink:hover {
    opacity: 0.7;
}

@media screen and (max-width: 820px) {
    .navHeader {
        display: none;
    }

    .navModal {
        /*margin-left: 270px;*/
        display: flex;
        flex-direction: column;
        column-gap: 49px;
        row-gap: 10px; /*для мобильной адаптации*/
        flex-wrap: wrap;
    }
}
