@value colors: "../../variables.css";
@value baseGreen, baseBlack, baseWhite, extraYellow, extraGreen, extraBlue from colors;

.content {
    composes: content from '../../App.module.css';
}

.header {
    height: 93px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.001em;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px; /*чтобы не прилипали друг к другу при уменьшении экрана*/
    row-gap: 20px; /*для мобильной адаптации*/
    flex-wrap: wrap;
    position: relative;
}

.loginPanel {
    display: flex;
    align-items: center;
    column-gap: 19px;
    flex-wrap: wrap;
}

.loginPanelMobile {
    display: none;
}

.link {
   opacity: 0.4;
}

.btnHeader {
    width: 65px;
    height: 26px;
    background-color: extraGreen;
    border-radius: 5px;

    transition: opacity 0.2s ease-in;
}

.btnHeader:hover {
    opacity: 0.7;
}

.btnHeader:active {
    position: relative;
    top: 1px;
}

.infoPanel {
    display: flex;
    align-items: center;
    column-gap: 111px;
}

.infoCompany {
    width: 175px;
    height: 63px;

    padding: 14px 16px 18px 10px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
}

.infoCompany p {
    font-size: 10px;
    line-height: 12px;
}

.infoCompany span {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-left: 9px;

}

.limit span {
    color: #8AC540;
}

.infoUser {
    display: flex;
    column-gap: 4px;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    align-items: flex-end;
}

.column p {
    font-size: 14px;
    line-height: 17px;
    /*opacity: 0.7;*/
}

.column button {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.4;
}

.infoUser img {
    width: 32px;
    height: 32px;
}


@media screen and (max-width: 820px) {
    .content {
        composes: content from '../../App.module.css';
        max-width: 347px;
        padding: 0 6px 0 0;
    }

    .logo {
        width: 111px;
        height: 111px;
        position: absolute;
        top: -10px;
    }

    .loginPanel {
        display: none;
    }

    .loginPanelMobile {
        display: block;
        top: 34px;
        right: 6px;
        position: absolute;
    }

    .link {
        display: none;
    }



    .infoCompany {
        width: 132px;
        height: 75px;

        margin-left: 141px;
        margin-top: 9px;
        padding: 5px 20px 5px 10px;
        align-items: flex-start;
    }

    .infoCompany p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 8px;
        line-height: 10px;
        /*opacity: 0.4;*/
    }

    .infoCompany span {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        margin-left: 0;
    }

    .infoUser {
        display: none;

    }
}

