
@value colors: "./variables.css";
@value baseGreen, baseBlack, baseWhite, extraYellow, extraGreen, extraBlue from colors;


@font-face {
  font-family: 'Ferry';
  src: url('./assets/fonts/Ferry-Black.woff2') format('woff2'),
  url('./assets/fonts/Ferry-Black.woff') format('woff'),
  url("./assets/fonts/ferry_black.otf") format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.btn {
  /*width: 355px;*/
  /*height: 59px;*/
  padding: 18px 120px 17px 123px;

  background-color: extraBlue;
  border-radius: 5px;

  color: #fff;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  position: relative;
  top: 1px;
}

.App {
  min-height: 100vh;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: baseBlack;

}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1350px;
}

.main {
  font-family: 'Ferry', serif;
  background-color: baseWhite;
}

.footer {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: calc(30px + 2vmin);
}
.footer div {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: calc(30px + 2vmin);
}








